<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-gb" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>@ViewBag.Title | Ghost Pubs</title>

    <meta name="revisit-after" content="2 days" />
    <meta id="keywords" name="keywords" content="haunted pub, haunted pubs, @ViewBag.Title, @ViewBag.ArticleDescription, ghost pubs" />
    <meta id="description" name="description" content="@ViewBag.Title, @ViewBag.MetaDescription" />
    <meta name="AUTHOR" content="Phil Carney" />
    <meta name="Content-Language" content="en-GB" />
    <meta name="COPYRIGHT" content="Ghost Pubs 2014" />
    <meta name="ROBOTS" content="INDEX,FOLLOW" />

    <meta property="fb:admins" content="100001874427547" />
    <meta property="fb:app_id" content="303827419746289" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@ViewBag.Title | GhostPubs.com" />
    <meta property="og:image" content="http://www.ghostpubs.com/haunted_pub/favicon.ico" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:url" content="@ViewBag.Link" />
    <meta property="og:site_name" content="Ghost Pubs" />
    @if (ViewBag.Tag != null)
    {
        <meta property="article:tag" content="@ViewBag.Tag" />
    }
    @if (ViewBag.Tags != null)
    {
        foreach (string tag in ViewBag.Tags)
        {
            <meta property="article:section" content="@tag" />
        }
    }
    <meta property="article:published_time" content="@DateTime.Now.ToLongDateString()" />
    <meta property="article:modified_time" content="@DateTime.Now.ToLongDateString()" />
    <meta property="article:publisher" content="http://www.facebook.com/ghostpubspage" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- styles -->
    <link href="@Url.Content("~/content/bootstrap/231/css/bootstrap.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/css/bootstrap-responsive.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/css/docs.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/css/ghostpubs/docs2.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/css/prettify.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/font-awesome/css/font-awesome.css")" rel="stylesheet">
    <link href="@Url.Content("~/content/bootstrap/231/css/bootswatch.css")" rel="stylesheet">
    <link href="/haunted_pub/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
        ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="brand" href="/">GhostPubs.com</a>

                <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ghost stories <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/haunted_pub/detail.html">Stories by area</a></li>
                                <li><a href="/haunted_pub/submissions/detail.html">Submit a story</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">News <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="http://blog.ghostpubs.com/" target="blog">Recent news</a>
                                </li>
                                <li>
                                    <a href="/haunted_pub/promotions/detail.html">Promotions</a>
                                </li>
                                <li>
                                    <a href="/haunted_pub/competitions/detail.html">Competitions</a>
                                </li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Partners <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/haunted_pub/partners/detail.html" title="Partners?">Partners</a></li>
                                <li>
                                    <a href="/haunted_pub/partnerships/detail.html">Partner with us</a>
                                </li>
                                <li>
                                    <a href="/haunted_pub/featuredpartner/detail.html">Featured partners</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li style="width: 300px">
                                    <div class="gcse-container">
                                        <gcse:search></gcse:search>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/haunted_pub/sitemap/detail.html">Sitemap</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About us<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/haunted_pub/contributors/detail.html" title="Credits and contributions ...">Contributors</a>
                                </li>
                                <li>
                                    <a href="/haunted_pub/about/detail.html">About us</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()


    <!-- Footer
        ================================================== -->
    <footer class="footer">
        <div class="container">
            <span class="label label-info">Designed and developed by <a href="http://www.carnotaurus.co.uk/" target="_blank" title="Carnotaurus Solutions website">Carnotaurus Solutions</a> </span>
        </div>
        <p>&nbsp;</p>
        <ul class="masthead-links">
            <li><a class="masthead-links-override" rel="nofollow" href="http://www.facebook.com/groups/ghostpubs"><i class="icon-facebook masthead-links-override"></i>fan page</a></li>
            <li><a class="masthead-links-override" rel="nofollow" href="https://twitter.com/ghost_pubs"><i class="icon-twitter-sign masthead-links-override"></i>twitter</a></li>
            <li><a class="masthead-links-override" rel="nofollow" href="http://www.linkedin.com/groups/Ghost-Pubs-4935170"><i class="icon-linkedin-sign masthead-links-override"></i>contact us</a></li>
            <li><a class="masthead-links-override" rel="nofollow" href="http://pinterest.com/ghostpubs/ghostpubscom"><i class="icon-pinterest-sign masthead-links-override"></i>our board</a></li>
            <li><a class="masthead-links-override" rel="nofollow" href="http://www.facebook.com/ghostpubspage"><i class="icon-facebook-sign masthead-links-override"></i>page</a></li>
        </ul>
        <p>&nbsp;</p>
        <p><a class="masthead-links-override" rel="nofollow" href="http://www.facebook.com/groups/ghostpubs">report this page | suggest your pub</a></p>

    </footer>
     
    @RenderSection("scripts", false)

    <!-- Le javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap.js")"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/jquery.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-transition.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-alert.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-modal.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-dropdown.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-scrollspy.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-tab.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-tooltip.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-popover.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-button.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-collapse.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-carousel.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-typeahead.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/bootstrap-affix.js")"></script>

    <script src="@Url.Content("~/content/bootstrap/231/js/holder.js")"></script>
    <script src="@Url.Content("~/content/bootstrap/231/js/prettify.js")"></script>

    <script src="@Url.Content("~/content/bootstrap/231/js/application.js")"></script>

    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=303827419746289&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-40505410-1', 'ghostpubs.com');
        ga('send', 'pageview');
    </script>


    <script>
        (function () {
            var cx = '011800392060597881327:fu4heiztlci';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>


</body>
</html>