@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                Ghost pub details for @Model.JumboTitle
            </p>
        </div>
    </div>
</header>

<div class="container">

    <!-- Docs nav
        ================================================== -->
    <div class="row" style="min-height:30px;">
        
        <a href="http://www.ghostpubs.com" title="Home">Home</a>

        <span>&gt;</span>
        <a href="http://www.ghostpubs.com/haunted_pub/detail.html" title="Regions">Regions</a>

        @if (Model.Lineage.Region != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Region.Url" title="@Model.Lineage.Region.Title">@Model.Lineage.Region.Text</a>
        }

        @if (Model.Lineage.County != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.County.Url" title="@Model.Lineage.County.Title">@Model.Lineage.County.Text</a>
        }

        @if (Model.Lineage.Town != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Town.Url" title="@Model.Lineage.Town.Title">@Model.Lineage.Town.Text</a>
        }

        @if (Model.Lineage.Pub != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Pub.Url" title="@Model.Lineage.Pub.Title">@Model.Lineage.Pub.Text</a>
        }

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>

        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>All about @Model.JumboTitle</h1>
                </div>
                <h2>@Model.JumboTitle</h2>
                <div class="well well-large">
                    <p>@Model.Description</p>
                    <ul>
                        @foreach (var link in @Model.Links)
                        {
                            <li>
                                @link.Text
                            </li>
                        }
                    </ul>
                    @foreach (var tag in @Model.Tags)
                    {
                        <span class="label label-info">@tag</span>
                    }
                </div>
                <h2>More to follow ...</h2>
                <div class="well well-large">
                    <p>Please provide us with more detail.</p>
                    @if (Model.Previous != null)
                    {
                        <p><a href='@Model.Previous.Url' title="Next to @Model.Previous.JumboTitle">Next to @Model.Previous.JumboTitle</a></p>
                    }
                    <p><a href='../../../@Model.Parent.Value/detail.html' title="Back to @Model.Parent.Key">Back to @Model.Parent.Key</a></p>
                    @*      <iframe src="https://www.google.com/maps/embed?q=sk1+3jt" width="600" height="450" frameborder="0" style="border:0"></iframe>*@
                </div>
                <hr>
            </section>
        </div>
    </div>
</div>
