@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>Ghost pubs in the town of @Model.JumboTitle</h1>
            <p class="lead">
                @Model.Description
            </p>
        </div>
    </div>
</header>

<div class="container">

    <!-- Docs nav
        ================================================== -->
    <div class="row">
        <div class="span4 bs-docs-sidebar">
            <div>
                <div>
                    @*<a href="/haunted_pub/detail.html">*@
                    <img onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />
                    @*</a>*@
                </div>

                <div class="btn-group btn-group-vertical">
                    @foreach (var link in Model.Links)
                    {
                        <a class="btn btn-large btn-primary" style="min-width: 200px" title='@link.Title' href='@link.Id/@link.Url/detail.html'>@link.Text</a>
                    }
                </div>
            </div>
        </div>

        <div class="span8">

            <!-- Carousel
                ================================================== -->
            <section id="carousel">
                <div class="page-header">
                    <h1>@Model.JumboTitle <span class="label label-info">@Model.Total haunted pubs</span></h1>

                </div>
                <h2>Let's journey through our haunted locations</h2>
                <p>Please select from a haunted pub from the following list:</p>
                <ul>
                    @foreach (var link in @Model.Links)
                    {
                        <li>
                            <a title='@link.Title' href='@link.Id/@link.Url/detail.html'>@link.Text</a>
                        </li>
                    }
                </ul>
                <p><a href='../detail.html' title="Back to @Model.Parent.Key">Back to @Model.Parent.Key</a></p>
                <hr class="bs-docs-separator">
            </section>
        </div>
    </div>
</div>
