@model Carnotaurus.GhostPubsMvc.Data.Models.ViewModels.OutputViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.JumboTitle + ", " + Model.Lineage.Town.Text;
    ViewBag.Link = Model.Lineage.Pub.Url;
    ViewBag.MetaDescription = Model.MetaDescription; 
    ViewBag.ArticleDescription = Model.ArticleDescription;
    
    ViewBag.Tag = Model.Tag;
    ViewBag.Tags = Model.Tags;
}

<!-- Subhead
    ================================================== -->
<header class="jumbotron subhead">
    <div class="container">
        <div>
            <h1>@Model.JumboTitle</h1>
            <p class="lead">
                Ghost pub details for @Model.JumboTitle
            </p>
        </div>
    </div>
</header>

<div class="container">
    <!-- Docs nav
        ================================================== -->
    <div class="row">

        <a href="/" title="Home">Home</a>

        <span>&gt;</span>
        <a href="/haunted_pub/detail.html" title="Regions">Regions</a>

        @if (Model.Lineage.Region != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Region.Url" title="@Model.Lineage.Region.Title">@Model.Lineage.Region.Text</a>
        }

        @if (Model.Lineage.County != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.County.Url" title="@Model.Lineage.County.Title">@Model.Lineage.County.Text</a>
        }

        @if (Model.Lineage.Town != null)
        {
            <span>&gt;</span>
            <a href="@Model.Lineage.Town.Url" title="@Model.Lineage.Town.Title">@Model.Lineage.Town.Text</a>
        }

        @if (Model.Lineage.Pub != null)
        {
            <span>&gt;&nbsp;</span>
            <span>@Model.Lineage.Pub.Text</span>
        }

    </div>
    <div class="row">
        <div class="span4">
            <div>
                <div>
                    <img width='200' height='200' onclick=" window.open('http://www.ghostpubs.com/haunted_pub/detail.html', '_self'); " class="img-circle face-relative" src="~/Content/bootstrap/231/img/ghostpubs/padded-logo-125x125.png" alt="Ghost Pubs" title="Ghost Pubs" />

                </div>

            </div>
        </div>

        <div class="span8">

            <!-- Well
                ================================================== -->
            <section id="well">
                <div class="page-header">
                    <h1>All about @Model.JumboTitle</h1>
                </div>
                <h2>@Model.JumboTitle</h2>
                <div class="well well-large">
                    <p>@Model.ArticleDescription</p>
                    <ul>
                        @foreach (var link in @Model.PageLinks)
                        {
                            <li>
                                @link.Text
                            </li>
                        }
                    </ul>
                    <p>
                        @foreach (var tag in @Model.Tags)
                        {
                            <span class="label label-info">@tag</span>
                        }
                    </p>

                    @if (Model.OtherNames.Count > 0)
                    {
                        <p>Other names for this pub:</p>
                        foreach (var linkModel in @Model.OtherNames)
                        {
                            <a class="label label-info" href="@linkModel.Url" title="@linkModel.Title">@linkModel.Text</a>
                        }
                        <p>&nbsp;</p>
                    }

                    <div id="map" style="width: 720px; height: 400px"></div>

                    <script>

                        var map = L.map('map').setView([@Model.Lat, @Model.Lon], 13);
                         
                        // add an OpenStreetMap tile layer
                        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);

                        L.marker([@Model.Lat, @Model.Lon]).addTo(map)
                            .bindPopup("<b>@Model.JumboTitle</b>").openPopup();

                        var popup = L.popup();

                        //function onMapClick(e) {
                        //    popup
                        //        .setLatLng(e.latlng)
                        //        .setContent("You clicked the map at " + e.latlng.toString())
                        //        .openOn(map);
                        //}

                        //map.on('click', onMapClick);

                    </script>

                    @if (Model.Previous != null)
                    {
                        <p>&nbsp;</p>
                        <p>Want to read about&nbsp;<a href='@Model.Previous.Url' title="Next to @Model.Previous.JumboTitle">@Model.Previous.JumboTitle?</a></p>
                    }
                     
                    <div class="fb-like" data-href="@ViewBag.Link" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

                    <div id="fb-root"></div>

                    <div class="fb-comments" data-href="@ViewBag.Link" data-numposts="5" data-colorscheme="dark"></div>
                     
                    <div><a href='../../../@Model.Parent.Value/detail.html' title="Back to @Model.Parent.Key">Back to @Model.Parent.Key</a></div>
                </div>
                <hr>
            </section>
        </div>
    </div>
</div>
